*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}

.container{
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 300px;
}

.form h2{
  text-align: center;
  margin-bottom: 20px;
}

.input-group{
  margin-bottom: 15px;
}

.input-group label{
  display: block;
  margin-bottom: 5px;
}

.input-group input{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-group input:focus{
  border-color: dodgerblue;
}

.error{
  color: red;
  font-size: 12px;
  display: none;
}

button{
  width: 100%;
  padding: 10px;
  border: none;
  background: dodgerblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background: #1b7fe4;
}
#resultmessage{
  display: flex;
  color: green;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

}